html,
body {
  background-color: #e2e2f5;
}
.material-icons {
  font-size: 1rem;
}
.wrap {
  display: flex;
}
.side_bar {
  background-color: white;
  padding: 40px 0;
  height: 100vh;
  width: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  > .title {
    color: #82aaed;
    text-align: center;
  }
  > .profile {
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > img {
      height: 100px;
      width: 100px;
      object-fit: contain;
      border-radius: 50%;
    }
  }
  > .menu {
    flex-grow: 1;
    > .menu_item {
      padding: 20px 15px;
      cursor: pointer;
      &:hover {
        background-color: #01dc8c;
      }
    }
  }
  > .login {
    background-color: #c5d7f7;
    padding: 20px;
  }
}
.main {
  flex-grow: 1;
  padding: 20px 30px;
  > .main_title {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    > span {
      font-weight: 600;
    }
    > button {
      border: none;
      background-color: #82aaed;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  > .focus_board {
    display: flex;
    margin: 0 0 25px 0;
    > .timer {
      background-color: white;
      flex-basis: 55%;
      padding: 20px 10px;
      display: flex;
      > .clock {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        //轉的時候讓transparent和中間那顏色的角度改變
        // background: conic-gradient(transparent 45deg, #01dc8c 45deg, #9600ff);
        height: 200px;
        width: 200px;
        border-radius: 50%;
        > div {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 90%;
          width: 90%;

          font-size: 30px;
          background-color: white;
          border-radius: 50%;
        }
      }
      > .current_task_wrap {
        flex-grow: 1;
        > .current_task {
          height: 100%;
          width: 70%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          > .task_title {
            text-align: right;
            padding: 10px 0;
          }
          > .task_pomodoro {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            span {
              display: inline-block;
              width: 10px;
              height: 10px;
              margin: 0 0 0 7px;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
          > .task_button {
            text-align: center;
            padding: 10px 0;
            box-shadow: #82aaed 0px 0px 5px;
            background: none;
            border: none;
          }
        }
      }
    }
    > .time_record {
      background-color: white;
      margin: 0 0 0 3%;
      padding: 20px 10px;
      flex-basis: 42%;
      display: flex;
      flex-direction: column;
      > .record_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > span {
          font-weight: 600;
        }
        > button {
          background: none;
          border: 2px #d8d8d8 solid;
          border-radius: 3px;
          color: #d8d8d8;
          padding: 5px 25px;
          cursor: pointer;
        }
      }
      > .record_time {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
      }
    }
  }
  > .task_board {
    display: flex;
    // background-color: rgb(214, 214, 161);
    position: relative;
    > .todo_project {
      width: 250px;
      margin: 0 15px 0 0;
      > .todo_title_wrap {
        position: relative;
        padding: 10px 20px;
        background-color: white;
        &:hover {
          box-shadow: #82aaed 0px 0px 5px;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -5px;
          height: 5px;
          // background-color: rgb(177, 119, 119); <-搬到.vue
        }
        > .todo_title_name {
          display: flex;
          justify-content: space-between;
        }
        > .task_add_board {
          padding: 10px 0;
          // border-top: solid grey 1px;
          label {
            color: grey;
            font-size: 12px;
          }
          input {
            width: 100%;
            box-sizing: border-box;
          }
          button {
            display: block;
            margin: 10px 0 0 auto;
            width: 50px;
            text-align: center;
            background: grey;
            border: none;
          }
        }
      }
      > .todo_list {
        > .todo_item {
          background-color: white;
          margin: 15px 0 0 0;
          > .item_title_wrap {
            padding: 10px 20px;
            display: flex;
            > .item_title {
              flex-grow: 1;
              text-align: left;
            }
          }
          > .item_checker {
            padding: 10px 20px;
            border-top: 1px solid rgba(128, 128, 128, 0.445);
            display: flex;
            > .checker_pomodoro {
              flex-grow: 1;
              text-align: left;
              > span {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin: 0 0 0 7px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.5);
                //<- 移到todoItem template
              }
            }
          }
          &:hover {
            box-shadow: #82aaed 0px 0px 5px;
          }
        }
      }
    }
    > .done_project {
      position: absolute;
      right: 0;
      top: 0;
      width: 250px;
      > .done_title {
        padding: 10px 20px;
        background-color: white;
        &:hover {
          box-shadow: #82aaed 0px 0px 5px;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -5px;
          height: 5px;
          background-color: rgb(122, 122, 122);
        }
      }
      > .done_list {
        > .done_item {
          background-color: white;
          margin: 15px 0 0 0;
          &:hover {
            box-shadow: #82aaed 0px 0px 5px;
          }
          > .item_title_wrap {
            padding: 10px 20px;
            display: flex;
            > .item_title {
              flex-grow: 1;
              text-align: left;
            }
            > .item_project span {
              display: inline-block;
              width: 10px;
              height: 10px;
              margin: 0 0 0 7px;
              border-radius: 50%;
            }
          }
          > .item_checker {
            padding: 10px 20px;
            border-top: 1px solid rgba(128, 128, 128, 0.445);
            display: flex;
            > button {
              border-radius: 5px;
              border: none;
              background-color: #82aaed;
              color: white;
              font-weight: 500;
              box-sizing: border-box;
              width: 100%;
            }
          }
        }
      }
    }
  }
  > .project_add_board {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    form {
      width: 400px;
      height: 300px;
      background-color: #82aaed;
      padding: 30px 20px;
      border-radius: 20px;
      .project_add_board_title {
        text-align: center;
        font-size: 24px;
      }
      input {
        width: 100%;
      }
    }
  }
}
.error_message {
  font-size: 12px;
  color: rgb(255, 82, 82);
  display: block;
}
